.hero {
    height: 80vh;
    background: url('../../images/coucouImage.png') center center no-repeat;
    background-color: var(--rosa);
    background-size: 80%;
}

@media(max-width: 900px) {
    .hero {
        height: 50vh;
    }
}
