.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
}

.mobile h3 {
    font-family: var(--fonte-yesteryear);
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--preto);
}

.mobile i {
    font-size: 4rem;
    color: var(--preto);
}

.mobile i:hover {
    color: var(--rosa);
}

.jess {
    width: 100px;
    height: 130px;
    bottom: 100px;
    left: -30px;
}

.ui {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.controls {
    text-align: center;
    max-width: 300px;
}

.fade {
    opacity: 0;
    transition: opacity 1s;
}

.pc .word-display p {
    color: var(--preto);
    font-size: 8rem;
    text-align: center;
    font-family: var(--fonte-yesteryear);
}

.pc .word-display .word-description {
    font-family: var(--fonte-roboto);
    font-size: 3rem;
    font-weight: 700;
    margin-top: 5%;
}

.play-area {
    width: 1100px;
    height: 300px;
    position: relative;
    border-bottom: solid #cf7f51dc 5px;
}

.jess {
    width: 120px;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    animation: idle 0.8s infinite alternate;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

@-webkit-keyframes idle {
    0% {
        content: url(../coucouJess/sprites/idle01.png);
    }
    100% {
        content: url(../coucouJess/sprites/idle02.png);
    }
}

.box {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--rosa);
    position: absolute;
    text-align: center;
}

.box p {
    font-family: var(--fonte-yesteryear);
    font-size: 4rem;
    color: var(--azul);
}

@media(max-width: 900px) {
    .play-area, .ui {
        display: none;
    }

    .game {
        justify-content: center;
    }

    .mobile {
        display: flex;
    }
}

@media(max-width: 425px) {
    .jess {
        width: 80px;
        height: 105px;
        left: -20px;
    }
}